@import "variables";
@import "global";
@import "mixin";

.none {
  display: none;
}

.headerSec1 {
  @include flex;
  padding-left: $sidePadding;
  padding-right: $sidePadding;
  background-color: $headBgcolor;
}
.headerSec2 {
  @include flex;
  padding-left: $sidePadding;
  padding-right: $sidePadding;
  align-items: center;
  padding-top: 10px;
}
.section1 {
  padding-left: $sidePadding;
  padding-right: $sidePadding;
  background-image: url(/images/section1Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vw;

  h1 {
    line-height: 1.25;
    font-size: 8vw;
    padding-bottom:10px;

  }
  p {
    font-size: 3vw;
    width: 50vw;
    font-weight: 400;
  }
}

@media screen and (min-width: 962px) {
  .none {
    display: flex;
    align-self: center;
    gap: $smallSpace;
    img {
      align-self: center;
    }
  }
  .directory {
    @include flex;
    gap: $smallSpace;
    color: #fff;
    align-items: center;
  }
  .contact {
    @include flex;
    gap: $smallSpace;
    color: #fff;
    align-items: center;
  }

  .headerSec2 {
    @include flex;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    align-items: center;
    padding-top: 10px;

    .none {
      ul {
        @include flex;
        list-style-type: none;
        gap: $smallSpace;
      }
    }
  }
  .menuLine {
    display: none;
  }
  .getAppBtn {
    background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    border-radius: 10px;
    width: 136px;
    height: 43px;
    color: #fff;
    font-weight: 600;
  }
  .section1 {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    background-image: url(/images/section1Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;

    h1 {
      padding-top: 50px;
      font-size: 8vw;
      line-height:10vw;
      padding-bottom: 20px;
    }
    p {
      font-size: 3vw;
      width: 60vw;
      font-weight: 400;
    }
  }
}
