* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

.none {
  display: none;
}

.headerSec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: rgba(64, 85, 88, 0.6);
}

.headerSec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.section1 {
  padding-left: 3vw;
  padding-right: 3vw;
  background-image: url(/images/section1Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vw;
}

.section1 h1 {
  line-height: 1.25;
  font-size: 8vw;
  padding-bottom: 10px;
}

.section1 p {
  font-size: 3vw;
  width: 50vw;
  font-weight: 400;
}

@media screen and (min-width: 962px) {
  .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    gap: 20px;
  }
  .none img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .directory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerSec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .headerSec2 .none ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    gap: 20px;
  }
  .menuLine {
    display: none;
  }
  .getAppBtn {
    background: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    border-radius: 10px;
    width: 136px;
    height: 43px;
    color: #fff;
    font-weight: 600;
  }
  .section1 {
    padding-left: 3vw;
    padding-right: 3vw;
    background-image: url(/images/section1Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
  }
  .section1 h1 {
    padding-top: 50px;
    font-size: 8vw;
    line-height: 10vw;
    padding-bottom: 20px;
  }
  .section1 p {
    font-size: 3vw;
    width: 60vw;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */